body{
  font-family: Verdana;
  background-color: white
}
#clicker{
  background-color: green;
  border-radius: 3px;
  border: 1px solid bisque;
}
#gamearea{
  background-color: gray;
  border: 3px solid white;
  box-shadow: 2px 2px 2px black;
  width: 300px;
  justify-self: center;
}